{%extends "category/layout.html"%}
{%block content%}
<div class="container-fluid">
    {% if score %}
    <div class="card text-center">
        <div class="card-header">
            Result of the quiz:
        </div>
        <div class="card-body">
            {% if score > 75 %}
            {%for element in test%}
            <h5 class="card-title">Congratulations! You passed the {{element.title}} test.</h5>
            {%endfor%}
            {% else %}
            {%for element in test%}
            <h5 class="card-title">Unfortunately, you did not pass the {{element.title}} test.</h5>
            {%endfor%}
            {% endif %}
            <p class="card-text">Your result: {{score}} %</p>
            <a href="{% url 'index' %}" class="btn btn-dark appraisal_button">Select category</a>
            <a href="{% url 'result' %}" class="btn btn-dark appraisal_button">Show results</a>
        </div>
    </div>
    {% endif %}
</div>
{%endblock%}