{% extends "category/layout.html"%}
{%block content%}
{%if category %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">{{category.name}}</h1>
        <p class="lead">{{category.description}}</p>
    </div>
    {%if tests %}
    <div class="list-group">
        {%for test in tests%}
        <a href="{% url 'quiz' test.id %}" class="list-group-item list-group-item-action">{{test.title}}</a>
        {%endfor%}
    </div>
    {% endif%}
</div>
{% endif%}
{%endblock%}